<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<ul>
    <li>
        <a th:href="@{/variables/string/} + 'Hola Gaizka'">/variables/string/Hola Gaizka</a>
    </li>
    <li>
        <a th:href="@{/variables/string/} + 'Que tal Jon'">/variables/string/Que tal Jon</a>
    </li>
    <li>
        <a th:href="@{/variables/string/} + 'Saludos Jorge' + '/' + 7">/variables/string/Saludos Jorge/7</a>
    </li>
</ul>
</body>
</html>